<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="commonHead">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/layui/css/layui.css"/>
    <script src="/static/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/plugins/layui/layui_exts/city-picker/city-picker.data.js"></script>
    <link href="/static/plugins/layui/layui_exts/city-picker/city-picker.css" rel="stylesheet"/>
</head>
</html>
