<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DEMO</title>
    <meta charset="UTF-8">
    <div th:include="/common/head :: commonHead"></div>
    <link rel="stylesheet" type="text/css" href="/css/demo/index.css"/>
    <script src="/js/common/iframe.js" type="text/javascript" charset="utf-8"></script>
</head>
<body layadmin-themealias="default" class="layui-layout-body">
<div id="LAY_app" class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <!-- 头部区域 -->
        <div class="layui-header">
            <ul class="layui-nav layui-layout-left" style="padding-top: 13px;">
                <li>
                    <a href="" style="cursor:default;font-size: 16px;"></a>

                </li>
                <span class="layui-nav-bar" style="left: 38px; top: 48px; width: 0px; opacity: 0;"></span>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-username"></i>
                        <cite th:text="${session.user_in_session.name == '' ? session.user_in_session.no : session.user_in_session.name}">
                        </cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd layadmin-event="logout" style="text-align: center;">
                            <a href="/after/login/logOut">退出</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item" lay-unselect="">
                    <a lay-href="app/message/" layadmin-event="message">

                    </a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu" style="overflow: hidden;">
            <div class="layui-logo">
                <span>DEMO</span>
            </div>


            <ul class="layui-nav layui-nav-tree"
                style="width: 240px; height: 90%; overflow-y: auto;"
                lay-shrink="all">

                <li id="myInfo" class="layui-nav-item layui-nav-itemed">
                    <a href="/after/sysUser/userInfo"
                       target="app_body_content"><span>个人信息管理</span></a>
                </li>

                <c:if test="${ sessionScope.user_in_session.userType == '1'}">
                    <li id="personManager" class="layui-nav-item layui-nav-itemed">
                        <a href="/after/sysUser/userList"
                           target="app_body_content"><span>人员信息管理</span></a>
                    </li>
                </c:if>

            </ul>
        </div>

        <div id="LAY_app_body" class="layui-body">
            <iframe name="app_body_content" frameborder="0" width="100%" height="100%"></iframe>
        </div>
    </div>
</div>
</body>

</html>
